<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2><%= title %></h2>
<form method="POST" action="<%= action %>">
  
  <label for="bookName">Book Name:</label>
  <input type="text" id="bookName" name="BookName" value="<%= book ? book.BookName : '' %>" required><br>

  <label for="bookauthor">Book Author:</label>
  <input type="text" id="bookauthor" name="BookAuthor" value="<%= book ? book.BookAuthor : '' %>"><br>
  
    
    <!-- Add more options as needed -->
  </select><br>
  <label for="bookType">Book Type:</label>
  <select id="bookType" name="BookType">
    <!-- Mathametics -->
    <option value="">Select a Book Type</option>
    <option value="Fiction" <%= book && book.BookType === 'Fiction' ? 'selected' : '' %>>Fiction</option>
    <option value="Non-fiction" <%= book && book.BookType === 'Non-fiction' ? 'selected' : '' %>>Non-fiction</option>
    
  </select><br>  
  
  <% if (book) { %>
    <!-- If editing an existing book, include the book's ID in a hidden input field -->
    <input type="hidden" name="id" value="<%= book._id %>">
  <% } %>
  <button type="submit"><%= submitButtonLabel %></button>
  <a href="/">
  <button type="button">Cancel</button></a>
</form>
<%- include("partials/footer.ejs") %>