
<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Students List</h2>

    <table id="students-table" class="table"  style="margin: auto; vertical-align: middle;">
      <tr id="table-header" class="table-header">
        <th>Student Name</th>
        <th>School Name</th>
        <th>Grade</th>
        <th>Subject</th>
        <th colspan="2"></th>
      </tr>
      <% if (students && students.length) { %>
        <% students.forEach((student) => { %>
          <tr>
            <td><%= student.StudentName %></td>
            <td><%= student.SchoolName %></td>
            <td><%= student.Grade %></td>
            <td><%= student.Subject %></td>
            <td>
              <a href="/students/edit/<%= student.id %>">
                <button type="button">edit</button>
              </a>              
              </td>
            <td><form class="form-button" method="POST" action="/students/delete/<%= student.id %>">
                <button class="custom-button" type="submit">delete</button>
              </form></td>
          </tr>
        <% }) %>
      <% } %>
    </table>   
    <br /> 
    <a href="/students/new"><button type="button">Add New</button></a>
    <a href="/">
      <button type="button">Cancel</button></a>
<%- include("partials/footer.ejs") %>