<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2><%= title %></h2>
<form method="POST" action="<%= action %>">
  
  <label for="teacherName">Teacher Name:</label>
  <input type="text" id="teacherName" name="TeacherName" value="<%= teacher ? teacher.TeacherName : '' %>"><br>

  <label for="qualification">Qualification:</label>
  <select id="qualification" name="TeacherQualification">
    
    <option value="">Select a Qualification</option>
    <option value="Under Graduation" <%= teacher && teacher.TeacherQualification === 'Under Graduation' ? 'selected' : '' %>>Under Graduation</option>
    <option value="Graduation" <%= teacher && teacher.TeacherQualification === 'Graduation' ? 'selected' : '' %>>Graduation</option>
    <option value="Post Graduation" <%= teacher && teacher.TeacherQualification === 'Post Graduation' ? 'selected' : '' %>>Post Graduation</option>
       
  </select><br>
  <label for="noSemesterUnits">Number of Semester Units:</label>
  <input type="text" id="noSemesterUnits" name="NoSemesterUnits" value="<%= teacher ? teacher.NoSemesterUnits : '' %>"><br>

  <label>Subjects:</label><br>
  <% subjects.forEach(subject => { %>
    <input type="checkbox" id="<%= subject.SubjectName %>" name="Subject" value="<%= subject.SubjectName %>"
           <% if (teacher && teacher.Subject.includes(subject.SubjectName)) { %> checked <% } %>>
    <label for="<%= subject.SubjectName %>"><%= subject.SubjectName %></label><br>
  <% }) %>

  <!-- <label for="subject">Subject:</label>
  <select id="subject" name="Subject">
    <option value="">Select a subject</option>
    <% subjects.forEach(subject => { %>
      <option value="<%= subject.SubjectName %>" <%= teacher && teacher.Subject === subject.SubjectName ? 'selected' : '' %>><%= subject.SubjectName %></option>
    <% }) %>
  </select><br>   -->
  
  <% if (teacher) { %>
    <!-- If editing an existing teacher, include the teacher's ID in a hidden input field -->
    <input type="hidden" name="id" value="<%= teacher._id %>">
  <% } %>
  <button type="submit"><%= submitButtonLabel %></button>
  <a href="/">
  <button type="button">Cancel</button></a>
</form>
<%- include("partials/footer.ejs") %>